body {
    overflow: hidden;
    background: url("assets/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}

.container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* Efek transparan */
    z-index: -1;
}

.img, .text {
    position: absolute;
    transition: transform 1s ease-in-out;
}

.img {
    width: 150px;
    height: auto;
}

.text {
    font-size: 24px;
    font-weight: bold;
}